.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.interaction-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.video-container, .transcript-box {
  flex: 1;
}

.video-element {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transcript-box {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: auto;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.start-talk-button, .end-talk-button {
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-talk-button:hover, .end-talk-button:hover {
  background-color: #0056b3;
}

.mistakes {
  color: red;
  font-weight: bold;
}
.underline {
  text-decoration: underline;
  color: red;
}


